h1{
  font-family: 'Trade Winds', cursive;
}

p {
  font-family: 'Montserrat';
}

body {
  font-family: 'Montserrat';

}

.feature-post {
  font-family: 'Trade Winds', cursive;

}

.current-post{
  font-family: 'Trade Winds', cursive;
}
